<!DOCTYPE html>
<html>
  <head>
    <title>Sansukumi</title>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://code.highcharts.com/highcharts.js'></script>
  </head>

  <body>
   <header class="sticky-top">
      <main role="main">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="navbar-brand">SANSUKUMI</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to '投稿する', new_post_path,class:"nav-link"%>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path,class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to '新規登録', new_user_registration_path,class:"nav-link"%>
        </li>
        <% end %>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">・未定</a>
            <a class="dropdown-item" href="#">・未定2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">未定3</a>
          </div>
        </li>
      </ul>
        <% if user_signed_in? %>
          <div class="navbar-brand"><%= current_user.nickname %></div>
        <% else %>
          <%# <%= link_to user_google_oauth2_omniauth_authorize_path do %> 
            <%# <%= image_tag "google.png", class:"rounded mx-auto d-block glyphicon google-icon " %> 
          <%# <% end %> 
          <%= link_to user_twitter_omniauth_authorize_path do %>
            <%= image_tag "Twitter_Logo_Blue.png", class:"rounded mr-auto d-block glyphicon twitter-icon " %>
          <% end %>
        <% end %>
          </nav>
        </div>
      </main>
    </header>

    <%= yield %>

    <footer class="py-1 bg-dark text-light fixed-bottom">
      <div class="container text-center">
        <ul class="nav justify-content-center mb-1">
          <li class="nav-item">
            <%= link_to 'Top', "/",class:"nav-link text-mute"%>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_posts_path,class:"nav-link text-mute"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', new_contact_path,class:"nav-link text-mute"%>
          </li>
        </ul>
      </div>
      
    </footer>
  </body>
</html>

